body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gallery {
    display: flex;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 15px;
}

.faction {
    position: relative;
    display: inline-block;
}

.faction img {
    width: 150px;
    height: 150px;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 130px;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.faction:hover .overlay {
    opacity: 1;
}